.app {
    padding: 1em;
}

h1 {
    margin-top: 0;
    text-align: center;
}

h2 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.team-container {
    max-width: min(80vw, 600px);
    padding-bottom: 3em;
}

.editor-container {
    border: 1px solid black;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.week-option {
    text-decoration: underline;
    color: #0066cc;
    cursor: pointer;
}

.week-option.current {
    text-decoration: none;
    cursor: default;
    color: black;
}

.week-option:not(.current):hover {
    color: #ee0000;
}

.save-button {
    position: fixed;
    bottom: 6em;
    right: 1em;
}

.blurb-container {
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.375em;
}

p {
    margin: 0;
}

.public-DraftStyleDefault-block {
    margin: 0 !important;
}

.avatar {
    border-radius: 50%;
    max-width: 2em;
    max-height: 2em;
    margin-right: 0.25em;
}

.break {
    margin-right: 1em;
}

.team-name {
    font-size: 0.7em;
}

.trades-page h2 {
    text-align: center;
}

.trade-container {
    padding: 0.5em;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.25em;
    border-radius: 0.3em;
    max-width: min(91vw, 400px);
}

.trade-container h3 {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
}

.trade-container :is(td, th) {
    padding: 0.2em 0.5em;
    text-align: center;
}

.trade-container th {
    padding-bottom: 0;
}

footer {
    height: 3rem;
    background-color: black;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    z-index: 1;
}

footer a {
    color: white;
}

.footerPage {
    cursor: pointer;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activePage {
    border-radius: 50%;
    margin-left: 0.5em;
    background-color: white;
    height: 0.6em;
    width: 0.6em;
}

.trade-player-info {
    font-size: 0.8em;
    text-align: center;
}

.trade-player-info-separator {
    margin: 0 0.375em;
    font-weight: bold;
}

.trade-player-info-team {
    --spacing: 0.3125em;
    border-left: 2px solid black;
    padding-left: var(--spacing);
    margin-left: var(--spacing);
}

.editor-area {
    min-height: 10em;
    padding: 0.5em;
}

figure {
    margin: 0 0.5em;
    text-align: center;
}

figure img {
    object-fit: contain;
    max-width: 100%;
}

.edit-rankings {
    .tier-list-container {
        width: 100%;
        max-width: 95em;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 450px) {
    .break {
        margin: 0;
        flex-basis: 100%;
        height: 0;
    }

    .edit-rankings h2 {
        font-size: 1.1em;
    }

    .blurb-container h2, .trade-container h3 {
        font-size: 1.25em;
    }

    .button-container {
        justify-content: flex-end;
        width: 100%;
    }

    .trade-player-info {
        font-size: 0.75em;
    }

    .editor-area {
        min-height: auto;
    }
}

.tier-list-container, .tier-list-container * {
    user-select: none;
}

.schedules {
    border-collapse: collapse;
}

.schedules :is(td, th) {
    text-align: center;
}

.schedules :is(td, th) {
    padding: 0.25em;
    border: 1px solid black
}

.schedules th {
    padding-bottom: 0;
}

.schedules .same {
    background-color: lightgoldenrodyellow;
}

.schedules .more {
    background-color: lightgreen;
}

.schedules .less {
    background-color: lightpink;
}

.schedules :is(td:first-child, th:first-child) {
    left: 0;
    position: sticky;
    background-color: white;
}

.schedules .grid-team {
    max-width: 3.5em;
    overflow: hidden;
    white-space: nowrap;
}

.table-title h2 {
    margin-top: 1em;
    margin-bottom: 0;
}

.table-title .clarification {
    margin-top: -0.3125em;
    margin-bottom: 0.375em;
}

.table-title .clarification span {
    font-size: 0.875em;
}

.blurb-container {
    max-width: 91vw;
}

.blurb-container ul {
    padding-left: 1.25em;
}

.tier-list-container {
    .tier-name {
        min-height: 4.5em;
        min-width: 4.5em;
        border-right: 1px solid black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 0.5em;

        .text {
            font-size: 1.1em;
            color: white;
            font-weight: bold;
            paint-order: stroke fill;
            -webkit-text-stroke: 2px black;
            letter-spacing: 0.5px;
        }

        button {
            margin-top: 0.5em;
            display: flex;
            align-items: center;
            color: black;
        }
    }

    .options-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
    }

    .rankings {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        padding: 0.25em 0.5em;
        gap: 0.5em 0.25em;
        overflow: hidden; /* needed because we're allowing ellipsis overflow to be visible */
    }

    .editable .rankings {
        gap: 0.5em;
    }

    .option {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 5em;
            max-height: 3em;
        }

        .entity-name {
            overflow: visible;
            width: 4.5em;
            text-align: center;
        }

        .team-name {
            font-size: 1rem;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            word-wrap: break-word;
            line-height: 0.75;
        }

        .player-name {
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .entity-name-text {
            font-size: 0.7em;
        }
    }

    .ghost {
        pointer-events: none;
        opacity: 50%;
    }

    .reorder {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
    }

    .reorder.left {
        left: 0;
    }

    .reorder.right {
        right: 0;
    }

    .last-index {
        flex-grow: 1;
    }

    .tier-name-input {
        width: 100%;
    }

    .move {
        display: flex;
    }

    .trash-can {
        width: 1.25em;
    }

    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.display-rankings {
    .tier-list-container {
        margin-bottom: 1em;
    }
}

.tier-list {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.bracket-container {
    .bracket-grid {
        display: grid;
        gap: 0.55em;
        grid-template-columns: repeat(3, minmax(0, 8em));
        /*grid-template-rows: repeat(5, 1fr);*/
    }

    /*.round {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    justify-content: center;*/
    /*    gap: 0.5em;*/
    /*}*/

    [data-matchup="3"]{
        grid-row: span 2;
    }
    [data-matchup="6"]{
        grid-row: span 4;
    }
    [data-matchup="4"]{
        grid-row: span 2;
    }

    .second-round {
        .matchup-container:is(:first-child, :last-child) {
            margin-top: auto;
        }
    }

    .third-round .matchup-container{
        margin-top: auto;
    }
}

.matchup-container {
    --matchup-border-radius: 5px;
    display: flex;
    align-items: center;
    .matchup {
        width: 100%;
        border: 1px solid black;
        border-radius: var(--matchup-border-radius);

        div {
            text-align: center;
        }
    }

    hr {
        margin: 0;
        height: 1px;
        border: 0;
        border-top: 1px solid black;
    }

    .team {
        padding: 10px;
        cursor: pointer;

        &.first{
            border-top-right-radius: var(--matchup-border-radius);
            border-top-left-radius: var(--matchup-border-radius);
        }
        &.second{
            border-bottom-right-radius: var(--matchup-border-radius);
            border-bottom-left-radius: var(--matchup-border-radius);
        }

        max-width: 8em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.hidden {
        visibility: hidden;
        pointer-events: none;
    }

    .split-team {
        display: inline-block;
        max-width: 3.75em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .win-advance .advance {
        background-color: lightgreen;
    }
    .loss-advance .advance {
        background-color: lightcoral;
    }

    .img-container {
        display: flex;
        justify-content: center;
    }

    img, .img-placeholder {
        border-radius: 50%;
        height: 2em;
    }
}

@media only screen and (max-width: 375px) {
    .trade-container td {
        font-size: 0.88em;
    }
}
@media only screen and (max-width: 420px) {
    .matchup-container .team{
        max-width: 7em;
    }
}